<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kazaf.dao.BillDAO">
    
     <select id="getBill" parameterType="int"  resultType="com.kazaf.pojos.Bill">
         select * from bill where bill_id=#{bill_id}
     </select>
     
     <insert id="insertBill" parameterType="com.kazaf.pojos.Bill">
          insert into bill (bill_date,bill_cost,bill_coments,bill_level)
          values(#{bill_date},#{bill_cost},#{bill_coments},#{bill_level})
     </insert>
     
    
    <select id="getAllBill" resultType="com.kazaf.pojos.Bill">
        select * from bill ;
    </select>

    <select id="getBillbyMonth" parameterType="int" resultType="com.kazaf.pojos.Bill">
        select * from bill where bill_date BETWEEN ... and ....;
    </select>

    <select id="getconsumeDays" resultType="int">
        SELECT COUNT (DISTINCT bill_date) FROM bill WHERE bill_date BETWEEN #{property1,javaType=java.util.Date,jdbcType=DATE}
        AND #{property2,javaType=java.util.Date,jdbcType=DATE};
    </select>

    <resultMap id="GroupMonth" type="com.kazaf.pojos.GroupMonth">
        <id column="monthdate" property="monthdate"/>
        <result column="necessary" property="necessary"/>
        <result column="unnecessary" property="unnecessary"/>
        <result column="totall" property="totall"/>
    </resultMap>
    <select id="groupbymonth" resultMap="GroupMonth">
       select
A.nec as necessary ,B.unnec as unnecessary,A.nec+B.unnec as totall,A.adate as monthdate
from (
       select sum(bill_cost) as nec ,date_format(bill_date,'%Y-%m')  as adate
       from bill
       where bill_date>=20160101 and bill_level=0
       group by date_format(bill_date,'%Y-%m')
)A
inner join
(
       select sum(bill_cost) as unnec ,date_format(bill_date,'%Y-%m')  as adate
       from bill
       where bill_date>=20160101 and bill_level=1
       group by date_format(bill_date,'%Y-%m')
)B
on(A.adate=B.adate);
      </select>
 </mapper>