<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kazaf.dao.CommonDAO">
    
     <select id="getBill" parameterType="int"  resultType="com.kazaf.pojos.Bill">
         select * from bill where bill_id=#{bill_id}
     </select>
     
     <insert id="insertBill" parameterType="com.kazaf.pojos.Bill">
          insert into bill (bill_date,bill_cost,bill_comments,bill_level)
          values(#{bill_date},#{bill_cost},#{bill_comments},#{bill_level})
     </insert>

    <select id="getGym" parameterType="int"  resultType="com.kazaf.pojos.Gym">
        select * from gym where gym_id=#{gym_id}
    </select>

    <insert id="insertGym" parameterType="com.kazaf.pojos.Gym">
        insert into gym (gym_date,gym_item,gym_comments)
        values(#{gym_date},#{gym_item},#{gym_comments})
    </insert>

    <select id="getAllBill" resultType="com.kazaf.pojos.Bill">
        select * from bill ;
    </select>

    <select id="getAllGym" resultType="com.kazaf.pojos.Gym">
        SELECT * FROM gym;
    </select>

    <insert id="insertBillList" parameterType="java.util.List">

        INSERT INTO bill (bill_date,bill_cost,bill_comments,bill_level) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
        (#{item.bill_date},
         #{item.bill_cost},
         #{item.bill_comments},
         #{item.bill_level} )
        </foreach>

    </insert>


    <insert id="insertGymList" parameterType="java.util.List">

        INSERT INTO gym (gym_date,gym_item,gym_comments) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (#{item.gym_date},
            #{item.gym_item},
            #{item.gym_comments} )
        </foreach>

    </insert>


    <select id="getGymAnaerobic" parameterType="int"  resultType="com.kazaf.pojos.Gym_Anaerobic">
        select * from gym_anaerobic where gym_id=#{gym_id}
    </select>

    <insert id="insertGymAnaerobic" parameterType="com.kazaf.pojos.Gym_Anaerobic">
        insert into gym_anaerobic (gym_date,gym_option,gym_part,gym_weight,gym_rounds,gym_reps)
        values(#{gym_date},#{gym_option},#{gym_part},#{gym_weight},#{gym_rounds},#{gym_reps})
    </insert>


    <insert id="insertGymAnaerobicList" parameterType="java.util.List">

        INSERT INTO gym_anaerobic  (gym_date,gym_option,gym_part,gym_weight,gym_rounds,gym_reps) VALUES
        <foreach collection="list" item="item" index="index"  separator=",">
            (#{item.gym_date},
            #{item.gym_option},
            #{item.gym_part} ,
            #{item.gym_weight},
            #{item.gym_rounds},
            #{item.gym_reps})
        </foreach>

    </insert>


    <select id="getBillbyMonth" resultType="com.kazaf.pojos.Bill">
        select * from bill where bill_date BETWEEN #{0} and #{1};
    </select>
</mapper>