<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kazaf.dao.billdao">
    
     <select id="getBill" parameterType="int"  resultType="com.kazaf.domain.Bill">
         select * from bill where bill_id=#{bill_id}
     </select>
     
     <insert id="insertBill" parameterType="com.kazaf.domain.Bill">
          insert into bill (bill_date,bill_cost,bill_coments,bill_level)
          values(#{bill_date},#{bill_cost},#{bill_coments},#{bill_level})
     </insert>
     
    
    <select id="getAllBill" resultType="com.kazaf.domain.Bill">
        select * from bill ;
    </select>
     
 </mapper>